/* style.css */

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: Josefin Sans,sans-serif;
}

#container {

}

#header {
    display:flex;
    align-items:center;
    background-color:black;
}

#header .logo {
    display:flex;
    justify-content:flex-start;
    flex: 4;
}

#header .logo img {
    width: 175px;
}

#header .flex-nav {
    display:flex;
    justify-content:flex-end;
    flex:2;
}

#header .flex-nav ul {
    display: flex;
    justify-content:space-between;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px;
}

#header .flex-nav .nav-links a {
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    font-family: Josefin Sans,sans-serif;
    font-weight: 300;
    font-size: 21px;
}

#hero-banner {
    display:flex;
    align-items:center;
    width: 100%;
    min-height: 100vh;
    background-image:url(../images/banner-image-bw.jpg);
    background-size: cover;
}

#hero-banner-inner {
    display:flex;
    width:100%;
}

#hero-banner-left {
    display:flex;
    justify-content: flex-start;
    flex:3;
}

#hero-banner-left h1 {
    display:flex;
    justify-content: flex-start;
    align-items:center;
    width:100%;
    white-space: nowrap;
    font-size: 40px;
    color:white;
    line-height: 1.2;
    font-weight: lighter;
    margin: 0;
    padding-left:100px;
    font-family: Josefin Sans,sans-serif;
}

#hero-banner-center {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex:2;
}

#hero-banner-center h3 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left:80px;
    width:100%;
    white-space: nowrap;
    font-family: Josefin Sans,sans-serif;
}

#hero-banner-center a {
    color:whitesmoke;
    text-decoration: none;
    display: flex;
    align-items:center;
}

#hero-banner-right {
    display:flex;
    justify-content: flex-end;
    align-items:center;
    flex:2;
}

#main {
    display:flex;
    flex-direction:column;
    width: 100%;
    min-height: 100vh;
    background-color:whitesmoke;
}

#game-rounds {
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgba(255, 0, 0, 0.767);
    font-family: Josefin Sans,sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight:lighter;
    padding-top:80px;
    padding-bottom:20px;
}

#game-score-titles {
    display:flex;
    justify-content:space-around;
    /* width:80%; */
    /* flex-direction: column; */
    font-size:20px;
    font-weight:lighter;
}

#player-score {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    color:rgb(153, 151, 151);
    
}

#game-ties {
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgb(153, 151, 151);
}

#computer-score {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    color:rgb(153, 151, 151);
}

#game-score-values {
    display:flex;
    justify-content:space-around;
    /* width:80%; */
    font-size:40px;
    font-weight:lighter;
}

#player-score-value {
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

#game-ties-value {
    display:flex;
    justify-content:center;
    align-items:center;
}

#computer-score-value {
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

#rock-paper-scissors-interface {
    display:flex;
    justify-content:space-around;
}

#player-interface {
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

#game-tally {
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

#computer-output {
    display:flex;
    justify-content:flex-start;
    align-items:center;
}