/* style.css */

#container {

}

#header {
    display:flex;
    align-items:center;
}

#header .logo {
    display:flex;
    justify-content:flex-start;
    flex: 4;
}

#header .logo img {
    width: 175px;
}

#header .flex-nav {
    display:flex;
    justify-content:flex-end;
    flex:2;
}

#header .flex-nav ul {
    display: flex;
    justify-content:space-between;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px;
}

#header .flex-nav .nav-links a {
    color: #676b72;
    text-decoration: none;
    display: inline-block;
    font-family: Josefin Sans,sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #020a20;
}

#hero-banner {
    width: 100%;
    min-height: 100vh;
    background-image:url(../images/banner-image-l.jpg);
    background-size: cover;
}

