/* style.css */

#container {

}

#header {
    display:flex;
    align-items:center;
    background-color:white;
}

#header .logo {
    display:flex;
    justify-content:flex-start;
    flex: 4;
}

#header .logo img {
    width: 175px;
}

#header .flex-nav {
    display:flex;
    justify-content:flex-end;
    flex:2;
}

#header .flex-nav ul {
    display: flex;
    justify-content:space-between;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px;
}

#header .flex-nav .nav-links a {
    color: #676b72;
    text-decoration: none;
    display: inline-block;
    font-family: Josefin Sans,sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #020a20;
}

#hero-banner {
    display:flex;
    align-items:center;
    width: 100%;
    min-height: 100vh;
    background-image:url(../images/banner-image-l.jpg);
    background-size: cover;
}

#hero-banner-inner {
    display:flex;
    width:100%;
}

#hero-banner-left {
    display:flex;
    justify-content: flex-start;
    flex:4;
}

#hero-banner-left h1 {
    display:flex;
    justify-content: flex-start;
    align-items:center;
    font-size: 45px;
    color:white;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    padding-left:200px;
    font-family: Josefin Sans,sans-serif;
}

#hero-banner-right {
    display:flex;
    justify-content: flex-end;
    align-items:center;
}

#hero-banner-right h3 {
    font-size: 25px;
    font-weight: 300;
    color:white;
    text-transform: uppercase;
    padding-right:200px;
    font-family: Josefin Sans,sans-serif;
}